                                                    body {
                                                    background-color: rgb(0, 255, 242);
                                                }
                                                /*.nav {
                                        display: flex;
                                        justify-content: flex-end;
                                        position: fixed;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        background: black;
                                        border-bottom: 3px solid gray;
                                        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.6);
                                        z-index: 10;
                                    }*/
                                                /*#navlist {
                                    display: flex;
                                    background-color: rgb(255, 145, 0);
                                    font-size: 15px;
                                    color: gray;
                                    text-align: center;
                                    text-decoration: none;
                                } */
                                                
                                                li {
                                                    text-decoration: none;
                                                }
                                                
                                                .container {
                                                    display: flex;
                                                }
                                                
                                                #tracks {
                                                    display: flex;
                                                    flex-direction: column;
                                                    justify-content: center;
                                                    align-items: center;
                                                    text-align: center;
                                                }
                                                
                                                .tracks-header>h2 {
                                                    font-size: 35px;
                                                }
                                                
                                                .track-info {
                                                    display: flex;
                                                    flex-direction: row;
                                                    text-align: center;
                                                    /*justify-content: center;*/
                                                    /*align-items: center;*/
                                                    width: auto;
                                                    height: auto;
                                                    padding: 5rem;
                                                }
                                                
                                                .devtrac {
                                                    font-size: 20px;
                                                    color: white;
                                                    background-color: blueviolet;
                                                    border-radius: 50%;
                                                    height: 100px;
                                                    width: 100px;
                                                    align-items: center;
                                                    vertical-align: middle;
                                                    border: 3px solid gray;
                                                    text-shadow: 2px 2px 1px #1f1f1f;
                                                    transition: transform 0.3s ease-out;
                                                }
                                                
                                                .devtrac:hover {
                                                    transform: translateY(25px);
                                                    color: #4ba717;